<div class="cart">

	<h2>Cart</h2>
	<div>
		<div ng-repeat="fooditem in state.tmpArray" ng-if="fooditem.score < 0" class="itemWrap">
			<div class="nameWrapper">{{fooditem.name}}</div>
			<div class="adviceWrapper">{{fooditem.score}}
			</div>
			<div class="buttonWrappertwo">
			<button class="btnstwo" style="float:right" ng-click="incrementFinal(fooditem)">+</button>
			<div class="counttwo" style="float:right">{{fooditem.count}}</div>
			<button class="btnstwo" style="float:right"  ng-click="decrementFinal(fooditem)">-</button></div>
		</div>
		<br />
	<form>
		Please type your address: <input ng-model="state.address" type="text"><br>
		<a href="/#/checkout"><button style="float:right" ng-click="submitAddr()">Checkout</button></a>
	</form>
	
</div>

