<div class="items">
	<div ng-repeat="fooditem in state.itemList" class="item">

		<a href="#"><img src="/static/img/bacon.jpg" width="400px" height="400px" style="border-bottom: solid 1px #bbb"></a>
		<div style="border-bottom: solid 1px #bbb">
			{{fooditem.name}}
		</div>
		
		<div>
			<button style="float:left" ng-click="decrement(fooditem)">-</button>
			
			<div style="float:left">{{fooditem.tempCount}}</div>
			
			<button style="float:left" ng-click="increment(fooditem)">+</button>

			<div style="float:right" ><a ng-click="addToCart(fooditem)">Add to Cart</a></div>
		</div>
	</div>
</div>




